html, body, div, p,ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form,input, select, button, textarea, input,iframe, table, th, td {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow:ellipsis;
  /*overflow: hidden;*/
}
i{font-style: normal;}
ol,ul {list-style:none}
ul>li,ol>li{float:left}
a{text-decoration:none}
a, body, button, input, label, option, select, textarea{
  font-family: 'helvetica neue',arial,'hiragino sans gb','microsoft yahei',sans-serif;
  color: #333333;  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border:0;
  margin:0;
  padding:0;
  outline: none;
  font-size: 1rem;
  resize: none;
}
img{max-width: 100%;}
.cl:after{ content: ""; display: block; clear: both; height: 0; visibility: hidden; }
.fl{float:left}
.fr{float:right}
.pa{position:absolute}
.pr{position:relative}
body{
  max-width:640px;
  margin: auto;
  background-color: white;
  position: relative;
}
.header{
  height: 3.611rem;
  line-height: 3.611rem;
  position: fixed;
  top:0;
  max-width: 640px;
  width:100%;
  z-index: 200;
  background-color: rgba(255,255,255,.91);
}
.header>p{
  text-align: center;
  color: #008842;
  font-size: 1.333rem;
}
.go_back{
  background: url("../../assets/img/head/goBack.png") no-repeat center center /.972rem;
  left:0;
}
.header>a{
  display: block;
  width: 3.611rem;
  height: 3.611rem;
  position: absolute;
  top:0;
}
footer .save-btn.dis{
  background: #999;
}
footer .save-btn{
  width:100%;
  background-color: #008842;
  color: #ffffff;
  height: 3.611rem;
  font-size: 1.333rem;
}
footer ,.footer{
  height: 3.611rem;
  line-height: 3.611rem;
  position: fixed;
  bottom:0;
  width:100%;
  max-width: 640px;
}

.box{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pd-1{
  padding: 0 1.111rem ;
}
.content::-webkit-scrollbar,ul::-webkit-scrollbar{
  display: none;
}
.mg-1{
  margin: 0 1rem;
}
.bdt-5{
 border-top: .5rem solid #f6f6f6;
}
ul{
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
.content{
  padding-bottom: 3.611rem;
  padding-top: 3.611rem;
  overflow: auto;
  height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
.my-shop-btn>button:nth-child(1){
  background-color: #fc8587;
}
.my-shop-btn>button:nth-child(2){
  background-color: #008842;
}
.my-shop-btn>button{
  width: 43.33%;
  height:4.055rem;
  font-size: 1.333rem;
  color: #ffffff;
}
.my-shop-btn{
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 1rem;
}
ul.mint-actionsheet-list>li{
  float: none;
}
.type-list .mint-checklist .mint-cell .mint-cell-wrapper .mint-checklist-label .mint-checkbox-core{
  border: 1px solid transparent;
  position: absolute;
  width: 14px;
  height: 14px;
  left: 73%;
  top: 12px;
  background-color: transparent;
}
.type-list .mint-checklist .mint-cell .mint-cell-wrapper .mint-checklist-label{
  padding:0
}
.type-list .mint-checklist .mint-cell .mint-cell-wrapper .mint-checkbox-core::after{
  top: 1px;
  left: 5px;
}
.type-list .mint-checklist .mint-cell .mint-cell-wrapper .mint-checkbox-label{

  display: block;
  width: 86%;
  border-radius: 10rem;
  background-color: #ffffff;
  line-height: 2rem;
  margin:auto;
}
.type-list .mint-checklist .mint-cell .mint-cell-wrapper .mint-checkbox-input:checked + .mint-checkbox-core{
  background-color: #008842;
  border-color: #008842;
}
.type-list .mint-checklist .mint-cell .mint-cell-wrapper{
  position: relative;
  padding: 0;
  text-align: center;
  background-color: #efefef;
}
.type-list .mint-checklist .mint-cell{
  width:25%;
  float: left;
}
.mint-msgbox-message {
  white-space: normal;
}
.register-btn p {
  margin-top: 1rem;
}
.register-btn {
  color: #008842;
  text-align: center;
  line-height: 3rem;
  width: 81.85%;
  margin: auto;
  font-size: 1.111rem;
}
.register-btn > button {
  width: 100%;
  height: 3.33rem;
  font-size: 1.333rem;
  background-color: #008842;
  color: #fff;
  border-radius: 3px;
  margin-top: 3rem;
}
.register-input input {

}
.register-input > li {
  width: 100%;
  border-bottom: 1px solid #008842;
  background-color: #fff;
  line-height: 4.5rem;
}
.register footer,.register header{
  position: absolute;
  width:100%;
  line-height: 3.611rem;
  font-size: 1.333rem;
  z-index: 600;
}
.register header{
  top:0;
  background-color: #008842;
  color: #ffffff;
  line-height: 4.5rem;
}
.register footer {
  bottom: 0;
  color: #008842;
  background-color: #ffffff;
}
.account>li,.phone>li{
  position: relative;
}
.account>li>img,.phone>li>img{
  position: absolute;
  left:2.278rem;
  top:0;
  bottom:0;
  margin: auto;
  width: 1.444rem;
}
.account>li:nth-child(5)>img, .phone > li:nth-child(2)>img {
  width:1.75rem;
  left:2.16rem;
}
.register-input{
  width: 100%;
}
.register-logo{
  height:10.25rem;
  background: url("../../assets/img/login/logo.png") no-repeat center center /13.388rem;
}
.register-logo>img{
  /*width: 13.388rem;*/
  /*margin: 2.777rem auto;*/

}
.register .content{
  background-color: #efefef;
}
.register{
  text-align: center;
}
li.security > button {
  width: 25%;
  position: absolute;
  right: 1rem;
  height: 3rem;
  padding: 0 .5rem;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 1.11rem;
  border-radius: 3px;
  color: #fff;
  border:none;
  background-color: #b9b9b9;
}
li.security > button.active {
  color: #fff;
  border: 1px solid #008842;
  background-color: #008842;
}
.err-msg{
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200;
  padding-right: 1.5rem;
  color: #ff5956;
}
.add_goods .mint-cell-wrapper{
  background-size: 1px;
}
.add_goods .mint-cell{
  min-height: 40px;
}
.swiper-pagination .swiper-pagination-bullet-active{
  background-color: #008842;
}

.picker-items .picker-slot{
  font-size: 1.2rem;
}
.mint-msgbox-btn.mint-msgbox-confirm {
  color: #008842;
}
.mint-msgbox-title{
  color: #008842;
  font-weight: normal;
  font-size: 1.4rem;
}
.mint-toast.is-placemiddle{
  z-index: 9999;
}
.alertCancel{
  color: #999;
}
